<body id="home">
    <main id="about-us-page" class="main-grid">
        <section id="blurb">
            <h1><span>//</span> {{intro_title}}</h1>
            <i>{{intro}}</i>
        </section>

        <section id="team-profile">
            <h1><span>// </span>{{exec_team_title}}</h1>
            <div style="width: 100%;"></div>

            {{#each exec_profile}}
            <article class="profile" onclick="growDiv({{@index}})">
                <img class="profile-picture" src="{{this.portrait.filename}}">
                <h3 ><strong>{{this.position}}</strong>{{this.name}}</h3>
                <a href="{{this.linkedin_profile_link.url}}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-2 8c0 .557-.447 1.008-1 1.008s-1-.45-1-1.008c0-.557.447-1.008 1-1.008s1 .452 1 1.008zm0 2h-2v6h2v-6zm3 0h-2v6h2v-2.861c0-1.722 2.002-1.881 2.002 0v2.861h1.998v-3.359c0-3.284-3.128-3.164-4-1.548v-1.093z"/></svg></a>
                <div class="grow"><h4>{{this.degree}}</h4><p>"{{this.description}}"</p></div>
            </article>
            {{/each}}

        <section id="sponsors">
            <h1><span>// </span>{{sponsors_title}}</h1>
            <h3>{{sponsors_text}}</h3>
            <article>
                {{#each sponsors_image}}
                <img class="sponsors-image" src="{{this.filename}}">
                {{/each}}
            </article>
        </section>
    </main>
</body>
<script src="../public/js/about-script.js"></script>
